/* Стили для секции footer */

.footer-background {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(15, 15, 15, 0.85),
      rgba(15, 15, 15, 0.85)
    ),
    url(../image/man-for-fone.jpg);
  min-height: 400px;
  position: relative;
}

.footer-wrap {
  // display: flex;
  & div {
    padding-top: 80px;
  }
}

.about-shop {
  max-width: 350px;
  &-description {
    line-height: 1.5;
  }
}

.footer-title {
  font-family: $font-title;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.33;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.category {
  // margin-left: 30px;
  max-width: 300px;
}

.category-list-item {
  display: flex;
  flex-wrap: wrap;
  & li:nth-last-child(-n + 2) {
    margin-top: 20px;
  }
  & li {
    margin-left: 20px;
  }
  & li:nth-child(1) {
    margin-left: 0px;
  }
  & li:nth-child(4) {
    margin-left: 0px;
  }
}

.category-list-link {
  display: block;
  padding: 10px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-transform: lowercase;
  background-color: #000000;
  color: #d0d0d0;
  &:hover,
  &:focus {
    background-color: #1f1f1f;
    transition: 0.4s;
  }
}

.mailing {
  max-width: 360px;
  // margin-left: 60px;
  &-description {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 38px;
    color: #ffffff;
  }
  &-input {
    width: 210px;
    height: 42px;
    padding: 6px 12px;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
  }
  &-input::placeholder {
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
  }
  &-btn {
    width: 140px;
    height: 42px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    cursor: pointer;
    background-color: #0f0f0f;
    color: #ffffff;
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    border: none;
  }
  &-btn:hover,
  &-btn:focus {
    background-color: #1f1f1f;
    transition: 0.4s;
  }
}

.underfooter {
  background-color: #0f0f0f;
  &-wrap {
    // display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 1.33;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  &-work {
    text-decoration: underline;
  }
}

@media (max-width: 480px) {
  .footer-wrap {
    text-align: center;
    & div {
      padding-top: 50px;
    }
  }
  .about-shop {
    max-width: 100%;
  }
  .category {
    display: none;
  }
  .mailing {
    max-width: 100%;
    &-input {
      display: block;
    }
    &-btn {
      margin-bottom: 50px;
    }
  }
  .footer-title {
    margin-top: 20px;
  }
  .underfooter {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
  }
  .underfooter-work {
    display: none;
  }
  .mailing-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mailing-form button {
    margin-top: 20px;
    border-radius: 10px;
  }
}
