/* Стили для секции new arrivals */

.new-arrivals {
  text-align: center;
  padding-bottom: 150px;
}

.arrivals-title {
  &::after {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .new-arrivals {
    padding-bottom: 40px;
    &-list {
      margin-top: 40px;
    }
  }

  .arrivals-title {
    margin-top: 50px;
  }

  .new-arrivals-list li {
    margin-left: auto;
    margin-right: auto;

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
}

@media (min-width: 1150px) {
  .new-arrivals-list li:not(:nth-child(4n)) {
    margin-right: 20px;
  }
}
@media (min-width: 1920px) {
  .arrivals-title {
    padding-top: 120px;
  }
}
